.mui-content{padding-top:2.75rem;}
.section{width:100%;height:auto;padding-top:0.9rem;background:#fff;}

.section_logo{width:58.4%;height:10.8rem;margin:0 auto;background:url(../images/safe@3x.png) 0 0 no-repeat;background-size:100% 100%;}

.Form1{margin-top:2.18rem;margin-bottom: 0.9rem;}

.mui-input-group:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}
.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}
.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
    top: -1px;
}
.mui-input-row{font-size:15px;color:#3e3e3e}

.mui-input-row input{font-size:15px;color:#000000;}

.mui-bar-nav {
    top: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: none;
}

.mui-input-group .mui-input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}

.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
    top: -1px;
}

.mui-input-group:after {
    position: absolute;
    right: 0;
    bottom: 0;
   	left: 0;
    height: 0px; 
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
