.mui-media-body{
	width:100%;
	height:2rem;
	margin-left:11.7%;
	font-size:18px;
	padding-top:2px;
	color:#3E3E3E;
}
#jifen_Name{
	width:65%;
}
#gmje{
	width:65%;
}
.mui-input-row label {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 14px 15px;
    font-size:15px;
}
.mui-input-group .mui-input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}

.mui-input-group:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}
.mui-input-group:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: ##E7E7E7;
}
input{font-size:15px;}