body{font-family: "微软雅黑";}
*{	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;}
li{list-style: none;}
a{text-decoration: none;}
input{border:none;outline: none;font-family: "微软雅黑";}
select{border:none;outline: none;font-family: "微软雅黑";}
.clear{clear:both;}
button{font-family: "微软雅黑";}
div{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}



