.mui-content{
	padding-top:3.68rem;
}
.mui-table-view{width:94%;margin:0 auto;}
.mui-table-view-cell{}
.section{
	border-radius:10px;margin-top: 10px;
}
.mui-navigate-right-left{
	width:12%;
	height:2.875rem;
	float:left;
	padding-top:0.53rem;
}
p{color:#505050;}
.bank_type{font-size:16px;margin-top:-5px;}
.Plan_date{margin-top:0.35rem;font-size:14px;}
.Plan_date_span{margin-left:3%;}
.mui-navigate-right-right{
	width:100%;
	height:2.875rem;
}
.mui-navigate-right-left-logo{
	width:2rem;
	height:2rem;
	margin-left:-15px;
	margin-top:-0.25rem;
}
/*底部区域样式*/
.mui-table-view-cell-div{
	width:100%;
	height:auto;
}
.mui-table-view-cell-div div{
	width:33%;
	height:4rem;
	float:left;
	text-align: center;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 100%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    z-index: 998;
    right:0;
}
.mui-table-view-cell>a:not(.mui-btn) {
    position: relative;
    display: block;
    overflow: hidden;
    margin: -11px 0px;
    padding: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}
.pOne{font-size:16px;margin-top:0.55rem;}
.pTwo{font-size:12px;}
.cardNumber{margin-left:3%;}
.mui-table-view-cell:after {
	width:85%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #DDDDDD;
}
.right_jt{width:20px;height:20px;position:absolute;right:15px;top:36%;z-index: 1000;}