.mui-bar{
	background:#fff;
	color:#3e3e3e;
} 
.mui-bar-nav{
	background:#fff;
	color:#3e3e3e;
} 

body,html{background:#f5f5f5;font-family: "微软雅黑";font-size:16px;}

*{list-style: none;text-decoration: none;margin:0;padding:0;}

p{margin:0;}

.clear{clear: both;}

img[src=""],img:not([src]){opacity:0;}

.back_btn{
	display:inline-block;width:30px;height:30px;font-size:15px;position: absolute;top:16px;
}


.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
}
.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #E7E7E7;
    top: -1px;
}

.mui-bar-nav{
	background:#fff;
}

.mui-content{background:#f5f5f5;}

.mui-title{font-size:18px;color:#3E3E3E;}
	
