body{font-family: "微软雅黑";}
.mui-content{}
.Receivables{text-align: center;margin-bottom: 10px;}
.Receivables label{margin-left: 10px;}
#sk_money{text-align: right;margin-bottom: 0;border-left: 0;border-right: 0;}
p{text-align: center;background-color: #F3F3F3;margin: 0;padding: 5px 0;}
.mui-radio{border-bottom: 1px solid #C0C0C0;padding: 12px 16px;}
.mui-radio label{width: auto;margin-top: 3px;color: #FFFFFF;border-radius: 5px;float: left;padding: 0;}
.mui-radio span{display: inline-block;font-size: 18px;color: #333333;margin-left: 11px;}
.mui-radio input[type=radio]{top: 20px;padding-left: 84%;right: 48px;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color: #2AC845;}
.mui-btn-one{margin-top: 50px;width: 80%;margin-left: 10%;height: 40px;margin-bottom: 50px;}
.pay_content{width: 50%;float: left;margin-left: 10px;}
.prompt{/*text-align: center;*/padding: 10px 15px;color: red;font-size: 15px;}
.mui-bar .mui-icon{/*font-size: 30px;padding-top: 8px;padding-left: 0;*/}
.mui-bar-nav.mui-bar .mui-icon{/*margin-left: -2px;*/}
    	
.pay_head{
	/*padding: 0 15px;*/
	background-color: #FFFFFF;
	position: relative;
}
.head_left{
	width: 100%;
	float: left;
	padding: 29px 15px 32px 15px;
	background-color: #FFFFFF;
	margin-top: 60px;
}
.head_left img{width: 30%;}
.head_left ul{
	padding: 0;
	float: right;
	width: 66%;
    margin: 0;
}
.head_left ul li{
	list-style: none;
	color: #505050;
	font-size: 13px;
	line-height: 25px;
}
.chioce{
	background-color: #FFFFFF;
	width: 100%;
    border: 0;
    padding: 0;
    margin-top: 37px;
}
.pay_content div{
	text-align: left;
	color: #000000;
}
.mui-radio label img{
	width: 21px;
}
h4,strong,b{
	font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue";
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 20px;
	font-weight: 400;
}
.mui-navigate-right div{
	line-height: 13px;
    margin-bottom: 4px;
}
.mui-navigate-right span{
	font-size: 13px;color: #505050;
	display: inline-block;
    line-height: 13px;
}
.mui-navigate-right div label{
	font-size: 13px;color: #108EE9;margin-left: 10px;
}
.mui-table-view-cell:after{left: 0;}
